.pokemon-name {
    font-size: xx-large;
    color: black;
    letter-spacing: 1rem;
}

.pokemon-types {
    display: flex;
    margin-top: 0.5rem;
    gap: 3rem;
    font-size: xx-large;
}

.pokemon-types div {
    border: 1px solid gainsboro;
    border-radius: 15px;
    padding: 1rem;
    background-color: gainsboro;
}

.height {
    font-size: 25px;
    margin-top: 10px;
}